.main-list ul {
    padding-inline-start: 0;
    list-style-type: none;
}
.qd-book-list .book-list {
    display: flex;
    flex-wrap: wrap;
}
.qd-book-list .book-list > div {
    min-width: 100px;
    margin: 5px;
    box-sizing: content-box;
    border: solid #97e2ff 2px;
    background-color: #F4D6AA;
}
.qd-book-list .book-list > div:hover {
    border: solid #2b8eff 4px;
}
